body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navBar {
 text-align: center;
 position: relative;
 margin-left: 40%;
 margin-bottom: -2%;
}
.authContainer{
  background-color:skyblue;
  margin: 100px;
}
.navBarAuth {
  text-align: center;
  position: relative;
  margin-left: 44%;
 }
.jumbotron {
  margin-right: 20%;
  margin-left: -50%;
}
h1 {
  text-align: center;
  font-family: 'Gaegu', cursive;

}

.entries {
 display: block;
 margin-top: 45%;
 background-color: skyblue;
}

.user {
  position: auto;
}
.authContainer {
  margin-top: 10%;
}
.map {
  display: skyblue;
  margin: auto;
  padding: 20px;
  margin-left: 18%;
  margin-bottom: -5%;
}
a {
  text-decoration: none;
}
#title {
  margin-top: 2%;
  font-size: 60px;
  color: skyblue;
}
.profile {
  background-color: black;
}

